# Игнорировать все файлы сборки и бинарные файлы
build/
*.o
*.exe

# Игнорировать настройки IDE и прочие временные файлы
*.pro.user
.qtc_clangd/
.vscode/
.DS_Store

# Игнорировать временные файлы системы и редакторов
*~
*.swp

# Игнорировать индексные файлы, создаваемые IDE (например, Qt Creator)
*.idx
.qtc_clangd/build-DrawWidget-Qt_6_6_0_for_macOS-Debug/DrawWidget.app/Contents/MacOS/DrawWidget
build-DrawWidget-Qt_6_6_0_for_macOS-Debug/DrawWidget.app/Contents/MacOS/DrawWidget
build-*/
*.app/
